* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-wrapper {
  position: relative;
  background-color: white;
  width: 920px;
  height: 580px;
  overflow: hidden;
}
.game-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 920px;
  height: 580px;
  z-index: 1;
}
.hero1 {
  position: absolute;
  z-index: 2;
  width: 220px;
  left: 50px;
  bottom: 50px;
}

.hero2 {
  position: absolute;
  z-index: 2;
  width: 220px;
  right: 50px;
  bottom: 50px;
  transform: scaleX(-1);
}

.healthbar {
   position: absolute;
   z-index: 2;
   height: 20px;
   width: 120px;
   border-radius: 10px;
   background-color: gray;
   border: 2px solid black;
}
.progress-bar {
  background-color: rgb(89, 209, 89);
  height: 16px;
  border-radius: 10px;
  width: 116px;
}

.switch-sound{
  position: absolute;
  top: 30px;
  right: 40px;
  width: 40px;
  height: 40px;
  z-index: 3;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 18px;
}
.countdown{
  position: absolute;
  z-index: 1;
  top:50%;
  left:50%;
}
.start-game-layout {
  width: 920px;
  height: 580px;
  background-color: rgb(87, 79, 79);
  z-index: 99;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero2-start{
  transform: scaleX(-1)
}
.description-wrapper{
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-around;
}
h1 {
  font-family: "Silkscreen", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  color:orange;
  text-shadow: -1px 5px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
}
.player-won-title {
  position: absolute;
  z-index: 3;
  top:20%;
  left:50%;
  transform: translate(-50%, -50%);
  display: none;
  white-space: nowrap;
}
.start-btn{
  background-color: rgb(160, 54, 54);
  border: none;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  color:white;
  padding: 14px 0;
  cursor: pointer;
}
.start-btn:hover {
  background-color: rgb(197, 68, 68);
}
.retry{
  position: absolute;
  z-index: 3;
  top:40%;
  left:50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: orange;
  cursor: pointer;
  display: none;
}
.retry img {
  width: 20px;
  height: 20px;
}
.retry p {
  font-family: "Silkscreen", serif;
  font-size: 20px;
  font-weight: 600;
}